* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34, 30, 30);
  color: aliceblue;
}

.header-menu {
  justify-content: space-around;
  align-items: center;
}

.header-menu ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.header-menu ul a {
  margin-left: 25px;
  color: aliceblue;
  text-decoration: none;
}

.films-select {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.films-group {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.films {
  width: 123px;
  margin-left: 37px;
  margin-top: 25px;
}

.films h6 {
  margin-top: 10px;
}

.film-img {
  width: 100%;
}

.filmspage {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.filmspage button {
  width: 90px;
  height: 35px;
  margin-left: 40px;
}

.films a {
  text-decoration: none;
  list-style: none;
  color: rgb(202, 22, 22);
}

.about {
  margin-left: 20%;
  margin-top: 70px;
}

.search {
  margin-top: 70px;
  margin-left: 20%;
}

.search input {
  height: 25px;
  width: 695px;
}

.search button {
  width: 700px;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #03a9f4;
  color: white;
  margin-top: 10px;
}

.film-info {
  display: flex;
  justify-content: space-evenly;
}

.film-info img {
  width: 200px;
}

.bottom-info {
  margin-top: 50px;
  margin-left: 40%;
}
.btn-back {
  margin-left: 20%;
}
